@page
@model saarXiv.Pages.Paper.CreateModel

@{
    ViewData["Title"] = "Create a new publication";
}

<h1>@ViewData["Title"]</h1>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Title" class="control-label"></label>
                <input asp-for="Input.Title" class="form-control"/>
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Content" class="control-label"></label>
                <textarea asp-for="Input.Content" class="form-control text-monospace" rows="24" cols="100"></textarea>
                <span asp-validation-for="Input.Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.UnderSubmission"/> @Html.DisplayNameFor(model => model.Input.UnderSubmission)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}