@page
@model saarXiv.Pages.Paper.DownloadModel

@{
    ViewData["Title"] = "Download";
}

<h1>@ViewData["Title"]</h1>
<hr/>
<partial name="_StatusMessage" for="StatusMessage"/>

<p>
    Please note that papers under submission may only be retrieved by their author or users holding a valid download token.
</p>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DownloadToken" class="control-label"></label>
                <textarea asp-for="DownloadToken" class="form-control text-monospace" rows="8"></textarea>
                <span asp-validation-for="DownloadToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Download" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}